<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="MeuBanco" connectionString="Server=localhost,1433;Database=meubanco;User Id=sa;Password=Sql@12345678;TrustServerCertificate=True;" providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>